/* Add universal properties to website */
* {
  background-color: black;
  text-align: center;
  font-family: Verdana;
  color: white;
}

h1 {
  font-weight: Normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

h3 {
  font-size: 21px;
  color: gray;
  font-weight: normal;
}

a {
  color: aquamarine;
  font-size: 16px;
}

#copyright p {
  text-align: right;
  color: gray;
}
